@import url('https://rsms.me/inter/inter-ui.css');



#logo {
  display: block;
	width: 80%;

}

body {
	background-color: #171430;
}

svg {
	fill: #fff;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

div.top {
  display: block;
  width: 100%;
  padding-top: 12%;
}

h1 {
  color: #fff;
  font-size: 34px;
  font-family: 'Inter UI', sans-serif;
	font-weight: bold;
}

h1 strong {
  color: #5CDDAD
}

h2 {
  color: #fff;
  font-size: 20px;
  font-family: 'Inter UI', sans-serif;
	font-weight: bold;
}

hlink {
  color: #fff;
  font-size: 20px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

hlink:hover {
  color: #9599B5;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}


h3 {
  color: #fff;
  font-size: 18px;
  font-family: 'Inter UI', sans-serif;
}

h4 {
  color: #fff;
  font-size: 14px;
  font-family: 'Inter UI', sans-serif;
}

h5 {
  color: #5CDDAD;
  font-size: 12px;
  font-family: 'Inter UI', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  color: #fff;
  font-size: 14px;
  font-family: 'Inter UI', sans-serif;
}

#resumedetails {
    margin-left: 0;
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Inter UI', sans-serif;
}

#text-row {
  padding-top: 5%;
}

#text-row-top {
  padding-top: 3%;
}

#text-row-sub {
  padding-top: 10%;
}

#text-row-blank {
  padding-top: 10%;
}


.read-more {
  color: #5CDDAD
}
.read-more:hover {
  color: #fff;
  -webkit-transition: ease 0.2s;
   transition: ease 0.2s;
}

.spacer {
  margin-top: 2%;
}

.bottom-spacer {
  margin-bottom: 5%;
}

#contact {
    margin-top: 10%;
    margin-bottom: 10%;
}

#contact-button {
  height: 45px;
  background: #5CDDAD;
  width: 170px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter UI', sans-serif;
	font-weight: bold;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

#contact-button:hover {
	background: #fff;
	color: #fff;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

#learn-button {
  margin-top: 45px;
  margin-bottom: 10%;
  height: 45px;
  background: #fff;
	box-shadow: inset 0 0 0 3px #0020ff;
  width: 170px;
  color: #0020ff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-family: DINPro-Bold;
	-webkit-transition: ease 0.2s;
	 transition: ease 0.2s;
}

#learn-button:hover {
	background: #1c1c1c;
	box-shadow: inset 0 0 0 3px #1c1c1c;
	-webkit-transition:  0.2s;
	 transition: ease 0.2s;
	 color: #fff;
}

#footer-text {
  margin-bottom: : 10%;
  text-align: left;;
}

@media print, screen and (max-width: 768px) {
  #footer-text {
    text-align: left;}
  h1 {
    font-size: 32px;
    }
    #text-row {
      padding-top: 5%;
    }
    #text-row-top {
      padding-top: 8%;
    }
    #text-row-sub {
      padding-top: 8%;
    }
    #contact-button {
      margin-top: 10%;
      margin-bottom: 15%;}

      #text-row-blank {
        display: none;
      }
  }


	div.middle {
	  height: 10px;
	  width: 100%;
		background-color: #0020ff;
	  xbackground-image: linear-gradient( 45deg, #000FFF 0%, #5000ff 30%, #000 82%, #000 100%);
	}


.hide,.hide-inline{display:none}.lt-ie9 .hide{display:block}.lt-ie9 .hide-inline{display:inline}
