@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');



.display-6 {
    color: #f4f4f4;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-weight: 900;
}

.dark-div {
  background-color: #161616;
}

.dark-div .eyebrow {
  color: #fff; }

#focus-areas .card {
  background-color: #fff;
  }

#contact .card {
    background-color: rgba(0,0,0,0);
    }

#contact {
  background-color: #393939;
}

.eyebrow {
    color: #0f62fe;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 2rem;
}

.container#body {
  padding-bottom: 4rem;
  padding-top: 5rem;
}

.badge {
      font-family: 'Roboto Mono', monospace;
      border: 0;
      margin: 0rem, 1rem, 0rem, 1rem;
}


h1 {
    font-family: 'Inter UI', sans-serif;
    color: #fff;
    font-weight: 700;
}


h5 {
    font-family: 'Inter UI', sans-serif;
    font-weight: 500;
}


p {
  font-family: 'Inter UI', sans-serif;
  font-weight: 300;
}

button {
      font-family: 'Roboto Mono', monospace;
}

#hero-p {
  color: #fff;
  padding-top: 1rem;
  line-height: 28px;
}


.menu-toggle {
  border: none;
  color: #fff;
}

.navbar-dark .navbar-toggler {
  border: none;
}

@media (max-width: 576px) {
.nav-item {
  text-align: right;
  margin-top: 1rem;
}
}


.navbar {
    background-color: #161616 !important;
    font-family: 'Roboto Mono', monospace;
    padding-top: 2em;
}



.jumbotron button {
    margin-top: 1rem;
    border-radius: 0;
    border-color: #0f62fe;
    background-color: #0f62fe;
    color: #fff;
}

.jumbotron button:hover {
  background: rgba(0,0,0,0);
  border-color: #fff;
  color: #0f62fe;
}

.btn-primary {
    font-family: 'Roboto Mono', monospace;
    margin-top: 1rem;
    border-radius: 0;
    border-color: #0f62fe;
    background-color: #0f62fe;
    color: #fff;
}

.btn-primary:hover {
  background: rgba(0,0,0,0);
  border-color: #0f62fe;
  color: #0f62fe;
}


.jumbotron {
    padding-top: 5rem;
    padding-bottom: 7rem;
    margin-bottom: 0;

    background-color: #161616;
    border-radius: 0;
}

.card {
  border: none;
  border-radius: 0;
  background-color: #f4f4f4;
  padding: 1rem 0rem 1rem 0rem;
}

.card-footer {
    border: none;
    background: none;
}

.card-header {
    border: none;
    background: none;
}


footer {
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-color: #0f62fe;
}

footer p {
      color: #fff;
}

footer a {
      color: #fff;
      text-decoration: underline;
}

footer a:hover{
      color: #f4f4f4;
      text-decoration: underline;
}
