body {
  background-color: #000;
}

h1a {
  color: #fff;
  font-size: 30px;
  font-family: 'Inter UI', sans-serif;
  font-weight: bold;
}

h2a {
  color: #f3f3f3;
  font-size: 16px;
  font-family: 'Inter UI', sans-serif;
  font-weight: normal;
}

h2a a {
  color: #f3f3f3;
  font-size: 16px;
  font-family: 'Inter UI', sans-serif;
  font-weight: normal;
}

h2a strong {
  color: #0062ff;
}

.text-row {
  padding-bottom: 30px;
}

.text-row#name {
  margin-top: 7%;
  padding-bottom: 25px;
}

h3a {
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  line-height: 32px;
  color: #0062ff;
}

a h3a{
    text-transform: none;
}

p1 {
  color: #fff;
  font-size: 15px;
  font-family: 'Inter UI', sans-serif;
}


#li-p1 {
  padding-left: 0px;
}

#about-des {
  padding-bottom: 50px;
}
